*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background: #f7f7f7;
  color: #111;
}
:root {
  --reader-font-size: 1.4em;
  --reader-word-spacing:  0.1em;
  --reader-line-spacing: 1.4;
}


