/* ========================================
   Text panel controls
======================================== */

.text-panel-controls {
  display: flex;
  gap: 2rem;
    justify-content:end;
  background-color: rgb(147, 150, 149);
  padding-bottom: 2px;
}

/* Optional:  in landscape */
@media (min-aspect-ratio: 16/10) {
  .text-panel-controls {
    gap: 2rem;
  }
}
.text-panel-controls div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.text-panel-controls button {
  padding: 0.3rem 0.6rem;
min-width:48px;;
  border: none;
  border-radius: 6px;

 

  cursor: pointer;
}